:host {
  $rounded: true;
  $outlined: false;
  $raised: true;

  $card-padding: 10px;
  $card-outlined-width: thin;
  $card-outlined-style: solid;
  $card-outlined-color: black;
  $card-rounded-radius: 5px;
  $card-raised-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);

  @mixin rounded-card {
    border-radius: $card-rounded-radius;
  }

  @mixin raised-card {
    box-shadow: $card-raised-shadow;
  }

  @mixin outlined-card {
    border-width: $card-outlined-width;
    border-style: $card-outlined-style;
    border-color: $card-outlined-color;
  }

  > div {
    padding: $card-padding;
  }

  @mixin dynamicMixin($name) {
    @if $name == 'rounded' {
      @include rounded-card;
    } @else if $name == 'raised' {
      @include raised-card;
    } @else if $name == 'outlined' {
      @include raised-card;
    }
  }

  @mixin applyBoolProp($prop) {
    > div.#{$prop} {
      @include dynamicMixin($prop);
    }
    > div:not(.not-#{$prop}) {
      @if #{$prop} {
        @include dynamicMixin($prop);
      }
    }
  }

  @include applyBoolProp('rounded');

  > div.outlined {
    @include outlined-card;
  }
  > div:not(.not-outlined) {
    @if $outlined {
      @include outlined-card;
    }
  }

  > div.raised {
    @include raised-card;
  }
  > div:not(.not-raised) {
    @if $raised {
      @include raised-card;
    }
  }
}