:host {

  $card-defaults-prop: ('rounded': true, 'outlined': false, 'raised': true);

  $card-padding: 10px;
  $card-outlined-width: thin;
  $card-outlined-style: solid;
  $card-outlined-color: black;
  $card-rounded-radius: 5px;
  $card-raised-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);

  $card-rounded-radius: 5px;

  > div {
    padding: $card-padding;
  }

  @mixin applyRoundStyle {
    border-radius: $card-rounded-radius;
  }

  @mixin applyRaiseStyle {
    box-shadow: $card-raised-shadow;
  }

  @mixin applyOutlineStyle {
    border-width: $card-outlined-width;
    border-style: $card-outlined-style;
    border-color: $card-outlined-color;
  }

  @mixin applyProp($prop) {
    @if $prop == 'rounded' {
      @include applyRoundStyle;
    } @else if $prop == 'raised' {
      @include applyRaiseStyle;
    } @else if $prop == 'outlined' {
      @include applyOutlineStyle;
    }
  }

  @each $prop, $val in $card-defaults-prop {
    @if $val {
      > div:not(.not-#{$prop}) {
        @include applyProp($prop);
      }
    } @else {
      > div.#{$prop} {
        @include applyProp($prop);
      }
    }
  }
}